requests
schedule
faster-whisper
deepgram-sdk
ebooklib
epubcfi
beautifulsoup4
rapidfuzz
fuzzysearch
error-align
tqdm
gTTs
ffmpeg
flask
lxml
dependency-injector
sqlalchemy
alembic
python-socketio[client]
mkdocs-material
